.gradle/
.idea/
build/
run/
out/
*.iml
.DS_Store
version.properties
/src/main/java/gamerguy11/sixtoolsaddon/modules/world/Printer.java
/src/main/java/gamerguy11/sixtoolsaddon/printer/
/src/main/java/gamerguy11/sixtoolsaddon/NOTES.md